REACT_APP_LOGIN_API=/login/
REACT_APP_APPROVER_ACTION_API=/approver/request/action/
REACT_APP_ADMIN_CREATE_API=/admin/create/
REACT_APP_ADMIN_GET_API=/admin/get/
REACT_APP_APPROVER_ACTIVE_API=/active/approver/
REACT_APP_APPROVER_ALL_API=/all/approver/
REACT_APP_REQUESTER_NEW_API=/new/
REACT_APP_PRODUCTS_GET_API=/products/
REACT_APP_APPROVERS_GET_API=/approvers/
REACT_APP_REQUESTER_ACTIVE_API=/active/requester/
REACT_APP_REQUESTER_ALL_API=/all/requester/
